altgraph==0.17.4
certifi==2025.4.26
charset-normalizer==3.4.2
click==8.2.0
decorator==5.2.1
ephem==4.2
future==1.0.0
geocoder==1.38.1
idna==3.10
macholib==1.16.3
packaging==25.0
pyinstaller==6.13.0
pyinstaller-hooks-contrib==2025.4
pylunar==0.10.0
ratelim==0.1.6
requests==2.32.3
setuptools==80.7.1
six==1.17.0
urllib3==2.4.0
